* {
  box-sizing: border-box;
  margin: 0;
  /* overflow-x: hidden; */
}


.mainContent {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  /* justify-content: space-between; */
  margin: 3% 0;
}

.cartAndGrid {
  display: flex;
  justify-content: space-between;
}

.filterContainer {
  height: 80vh;
  width: 20vw;
  margin: 0 1% 0 5%;
  border: 2px ridge rgb(58, 124, 168);
  padding: 3px;
}

.cartContainer {
  overflow-y: scroll;
  margin: 0 1%;
  height: 80vh;
  width: 25vw;
  border: 6px ridge #b7cad1;
  border-radius: 10px;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-auto-rows: 1fr; */
  grid-template-rows: auto;
  gap: 30px;
  margin: 0 5%;
  justify-items: center;
}

:where(.css-dev-only-do-not-override-1sn0ohr).ant-card .ant-card-body {
  padding: 5%;
}

:where(.css-dev-only-do-not-override-1sn0ohr).ant-card .ant-card-meta-title {
  white-space: normal;
  height: 50px;
}

:where(.css-dev-only-do-not-override-1sn0ohr).ant-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

:where(.css-dev-only-do-not-override-1sn0ohr).ant-modal .ant-modal-content {
  box-shadow: none;
  background-image: repeating-linear-gradient(to left,
      #b7cad1,
      #f8f9fc,
      #cddadf,
      #f8f9fc,
      #b7cad1);
}

:where(.css-dev-only-do-not-override-1sn0ohr).ant-card .ant-card-cover >* {
  padding: 5px;
  margin: auto;
}


.cardModal {
  box-shadow: 0 0 5px 5px rgb(158, 198, 194);
  border-radius: 10px;
}


@media (max-width: 1300px) {
  .productGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* @media (max-width: 1121px) {
  .loginButtons {
    display: flex;
    flex-direction: column;
  }
} */

@media (max-width: 1000px) {
  .productGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .cartContainer {
    height: 80vh;
    width: 30vw;
  }
  .userGreet {
    display: none;
  }
}

@media (max-width: 800px) {
  .mainContent {
    flex-direction: column;
    align-items: flex-start;
  }

  .cartAndGrid {
    margin: 2% auto;
    width: 90%;
  }

  .cartContainer {
    width: 35vw;
  }

  .filterContainer {
    height: 20vh;
    width: 90%;
  }
}